.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  a {
    font-weight: 600;
    display: block;
    margin-right: 20px;
    margin-bottom: 10px;
  }
}

.selected {
  color: #999 !important;
  pointer-events: none;
}
